* {
  background-color: darkslategrey;
  text-align: center;
}

html {
  color: rgb(162, 133, 133);
}

h1 {
  color: dodgerblue;
}

ul>li::marker {
  color: darkslategrey;
}

ol>li {
  text-align: left;
}
