* {
  background-color: darkslategrey;
  text-align: center;
}

h1 {
  padding-left: 3%;
  color: dodgerblue;
  margin-bottom: 75px;
  text-decoration: underline;
}

a {
  color: rgb(162, 133, 133);
}

li::marker {
  color: darkslategrey;
}

h2 {
  margin-bottom: 50px;
}